/* background-color: rgb(234, 209, 243); */


body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  box-shadow: rgb(36, 36, 36) 0px 0px 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.firstDisplay {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 2px;
}

.secondDisplay {
  padding-top: 20px;
  display: flex;
  color: rgb(218, 218, 218);
  font-size: 15px;
}

.allDisplay {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(51, 58, 77);
  padding-right: 15px;
}

button {
  width: 50px;
  height: 50px;
  border: 0px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(53, 53, 53);
  
}

.container1 {
  display: flex;
  flex-direction: row;
}

.container-grey button {
  background-color: rgb(238, 238, 238);
}

.color-purple button {
  background-color: rgb(230, 187, 247);
}

.container2 {
  display: flex;
  flex-direction: row;
}

.container-white button {
  background-color: rgb(255, 255, 255);
}

.container-white button {
  background-color: rgb(255, 255, 255);
}

.container3 {
  display: flex;
  flex-direction: row;
}

.container4 {
  display: flex;
  flex-direction: row;
}

.container5 {
  display: flex;
  flex-direction: row;
}

.color-ciano button {
  background-color: rgb(89, 214, 245);
}

footer {
  display: flex;
  margin-top: 100px;
  font-size: 15px;
  bottom: 0;
}

.img {
  align-self: center;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
